# R package build outputs
*.tar.gz
*.Rcheck/
..Rcheck/
Rplots.pdf

# R session files
.Rhistory
.Rapp.history
.RData
.Ruserdata

# Generated make/config files
src/Makevars
src/Makevars.win

# Rust build artifacts
**/target/
src/rust/vendor/
**/.cargo/

# IDE settings
.vscode/
.zed/

# temp file
test.R
test.typ
dev.R
dev.typ
/*.xml

# Agent
AGENTS.md

# vendor
src/vendor/
src/rust/vendor.tar.xz
src/rust/vendor-config.toml
src/rust/vendor/

# pkgdown site
docs/
